@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@font-face {
  font-family: "Aesthetic";
  src: url("/multimedia/Aesthetic-Regular.woff2");
}

body {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
  color: black;
  margin: 0;
  padding: 0;
  background-color: white;
   /*
  background-image: url("/multimedia/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;  */
}

.image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.background {
  z-index: 10;
  position: relative;
  top: 0;
  left: 0;
}

* {
  font-weight: 400 !important;
}

.history video {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  border: 1px solid;
  border-radius: 300px 300px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionDate {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 25px;
  margin: 25px 10px;
}
.date {
}
.date p {
  line-height: 25px;
  font-size: 25px;
  margin: 0;
  font-weight: 500;
}

.textmore p {
  text-align: justify;
  margin: 0;
  max-width: 300px;
}

.music {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.music svg {
  width: 100%;
  max-width: 15px;
}

.ourSong {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.flower {
  position: absolute;
  left: 0;
  top: -10px;
  width: 100%;
  z-index: -1;
  max-width: 200px;
}

.play {
  fill: #f2d335;
}

.TeEsperamos a {
  width: 100%;
  max-width: 300px;
  min-height: 50px;
  background-color: #f2d335;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 40px;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
}
.TeEsperamos a span {
  padding-bottom: 3px;
}
.sectioncita h1 {
  text-align: center;
  font-size: 40px;
  color: #f2d335;
  margin: 0;
  margin-bottom: 8px;
}
.sectioncita p {
  text-align: center;
  font-size: 22px;
  max-width: 362px;
  margin: 0 auto;
}

.marriageDate_title {
  margin: 0;
  text-align: center;
  font-size: 16px;
}
.marriageDate_title.top {
  margin-top: 30px;
}
.marriageDate_title.bottom {
  margin-bottom: 30px;
}

.marriageDate {
  text-align: center;
}

.marriageDate p {
  margin-top: 1000px;
}

.marriageDate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.marriageDate b {
  font-size: 23px;
  padding: 5px 0;
  max-width: 110px;
  width: 100%;
  font-weight: 100;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.marriageDate span {
  margin: 0 15px;
  font-size: 78px;
  line-height: 82px;
  position: relative;
  bottom: 12px;
}

.church {
  max-width: 50px;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  fill: #f2d335;
}

.boda {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.boda img {
  width: 100%;
}

.boda p,
h3 {
  margin: 0;
  font-size: 25px;
  font-weight: 400;
}

.boda a {
  height: 60px;
  width: 100%;
  max-width: 150px;
  border-radius: 20px;
  background-color: #f2d335;
  border: none;
  color: aliceblue;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  border: solid 1.5px #f2d335;
  width: 100px;
}

.dateMarriage {
  margin: 0 auto;
}

.imagen img {
  width: 210px;
}

.AboutUs h1 {
  margin-bottom: 10px;
  font-weight: unset;
  font-size: 38px;
  width: max-content;
  text-align: center;
  margin: 0 auto;
  margin-top: 35px;
}

.swiper {
  width: 100%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 10px;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 20px 0 10px;
}
.separator svg {
  max-width: 15px;
  flex: none;
}
.separator::after,
.separator::before {
  content: "";
  height: 1px;
  flex: 1;
  background-color: #000;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: auto;
  border-radius: 20px;
}

.swiper-slide img,
.swiper-slide video {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.contador {
  display: flex;
  align-items: center;
  margin: 15px auto 0;
  max-width: 300px;
  gap: 10px;
  text-align: center;
  justify-content: center;
}

.contador h1 {
  text-align: center;
  font-size: larger;
}

.horas,
.minutos,
.segundos,
.dias {
  flex-direction: column;
  display: flex;
  flex: 1;
  border-radius: 16px;
  min-height: 80px;
  justify-content: center;
  font-size: larger;
  font-weight: 600;
}

.contador h2 {
  font-size: 50px;
  margin: 0;
}

.contador p {
  margin: 2px 17px;
}

.asistencia img {
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 300px;
}

.asistencia button {
  border: none;
  border-radius: 30px;
  background-color: #e9d36794;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  text-align: center;
  color: aliceblue;
  font-size: large;
}

.asistencia {
  position: relative;
}

.asistencia div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 70px;
}

.asistencia p {
  color: aliceblue;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.sectioncita iframe {
  width: 90%;
  max-width: 500px;
  height: 300px;
  margin: 0 auto;
  margin-top: 10px;
}

.asistencia h2 {
  align-items: center;
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

.TeEsperamos h1 {
  font-size: 45px;
  border: none;
  text-decoration: none;
  /* color: #f2d335; */
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 10px;
}

.TeEsperamos p {
  font-size: 20px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 17px;
}

.marriageDate {
  max-width: none !important;
}

.font {
  font-family: "Aesthetic";
}

.fontsize {
  font-size: 45px;
}

.black {
  filter: grayscale(100%);
}


@media only screen and (min-width: 480px) {
  .boda img {
    width: 60%;
  }
}

